{% extends "base.html" %}

{% block title %}
    <title> Edit </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/edit-index.css" media="screen">
{% endblock %}

{% block content %}

<div class="row">
<!--输入模块开始-->
	<div class="col-md-2 edit">
		<input id="content" class="input editDemo" placeholder="请输入节点内容...." contenteditable="true"></input>
		<button class="submit">创建节点</button>
	</div>
<!--输入模块结束-->

<!--图形模块开始-->
	<div class="col-md-10 grap" id="drawBord">
		<svg class="drawBord"></svg>
	</div>
<!--图形模块结束-->
</div>
{% endblock %}

{% block js %}
<!--D3 lib and draw func-->
<script type="text/javascript" src="/static/js/d3.v2.js"></script>
<script type="text/javascript">
		var	svg_width = $(".drawBord").width(),
			svg_height = $(".drawBord").height();
			
		var color = d3.scale.category20();//设置20种颜色类别

		var force = d3.layout.force()//设置基于物理模拟的位置链接
							.size([svg_width, svg_height])
							.charge(-300)//获取或设置节点间的电荷数（电荷数决定节点时排斥还是吸引）
							.gravity(0.08)//设置节点间的引力强度
							.linkDistance(10)
							.linkStrength(0.6);//连接强度

		var svg = d3.select("body")
					.select("svg");
</script>
<!--append nodes-->
<script type="text/javascript" src="/static/js/edit-index-append.js"></script>

{% endblock %}
