{% extends "base.html" %}

{% block title %}
    <title>(๑•́ ₃ •̀๑)~尤於－關於我們( *・ω・)✄╰ひ╯</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/help-index.css">
{% endblock%}

{% block content %}
<div id="content">
    <h1>1.我们做什么</h1>

    <pre><code>  
  我们致力于，实现一个可以将知识的逻辑结构可视化并实现自动推理的知识表示模型
  翻译成普通话就是：基于命题关系和布尔逻辑，构造一个能自动推理的知识地图。
    </code></pre>

    <h1>2.知识地图是什么</h1>

    <pre><code>    
  命题是节点，关系是边。这样就有了一个地图。
  其中，关系主要指命题间的充分必要关系。定义也是一种命题，所以，每一个命题都是一个知识点，每个知识点都可以转换成为一个命题。
    </code></pre>

    <h1>3.知识地图有什么用</h1>

    <pre><code>    
  1. 学习导航。如果向搞懂某个知识点的来龙去脉，需要一次学习哪些知识点。
  2. 辅助规划。当前掌握的知识点有什么分布特点，如何扬长，如何补短。学会了某个知识点能够怎么样
    </code></pre>

    <h1>4.项目进展到了什么阶段</h1>

    <pre><code>    
  项目的核心是：命题逻辑与自动推理
  我们已经有了解决方案，并且拿到了专利。
  运营的关键是：高质量的数据积累。
  前期主要依靠深度用户人工贡献保证质量和准确度。我们已经完成专用编辑器的开发。后续会引入一定的自动生成地图的机制，提高效率。
    </code></pre>

    <h1>5.参与体验--构建自己的知识地图</h1>

    <pre><code>    
  通过导航栏可进入编辑地图页面（已登陆状态），一个空白的页面等待着您的操作。
  空白处双击，创建新节点。
    </code></pre>

    <p><img src="/static/img/dbclick.gif" alt="&quot;双击出现节点&quot;" title="双击出现节点" /></p>

    <pre><code>    单击A，双击B，意味着A，B能联立推导出B。
    </code></pre>

    <p><img src="/static/img/links.gif" alt="&quot;双击建立关系&quot;" title="双击出现节点" /></p>

    <h1>6.自动推理</h1>

    <pre><code>    
  使用案例，已有关系A，B－&gt;C和关系A，D－&gt;C
  加入新关系A-&gt;C后，B,D变成游离节点
    </code></pre>

    <p><img src="/static/img/relation.gif" alt="&quot;自动推理&quot;" title="双击出现节点" /></p>

    <h1>7.团队秀</h1>

    <p><img src="/static/img/team.JPG" alt="&quot;团队秀&quot;" title="双击出现节点" /></p>

    <h1>8.联系我们</h1>

    <pre><code>    邮箱：lixvow@gmail.com
         speedcell4@gmail.com
    地址：陕西省西安市雁塔区科技路48号创业广场座一楼
    </code></pre>

</div>

<div id="foot">
  <p class="t1"><span class="p1">尤于官网</span>|<span class="p1">意见反馈</span>|<span class="p1">使用帮助</span>|<span class="p1">免责声明</span>|<span class="p1">加入我们</span></p>
  <p><span class="p2">©2015 www.zhishimap.com</span><span class="p1">陕ICP备14007780号</span></p>
</div>
{% endblock %}

{% block js%}
<script type="text/javascript" src="/static/js/help-index.js"></script>
{% endblock%}