{% extends "base.html" %}

{% block title %}
    <title> ABOUT </title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/jquery.fullPage.css">
    <link rel="stylesheet" href="/static/css/help-index.css">
{% endblock%}

{% block content %}
<div id="content">
	<div id="ticker" class="section section1">
		<div>
            <h1>我们做什么</h1>
        </div>
	</div>
	<div class="section section2">
        <p>我们致力于，实现一个可以将知识的逻辑结构可视化并实现自动推理的知识表示模型</p>
        <p>翻译成普通话就是：基于命题关系和布尔逻辑构造一个能自动推理的只是地图</p>
	</div>
	<div class="section section3">
	    <h1>知识地图是什么</h1>
	</div>
	<div class="section section4">
		<blockquote>
			  命题是节点，关系是边。这样就有了一个地图
	    </blockquote>
        <p>其中，关系主要指命题间的充分必要关系。定义也是一种命题，所以，每一个命题都是一个知识点，每个知识点都可以转化成为一个命题。</p>
	</div>
	<div class="section section5">
		<h1>知识地图有什么用</h1>
	</div>
	<div class="section section6">
        <p>1). 学习导航。如果想搞懂某个知识点的来龙去脉，需要一次学习哪些知识点。</p>
        <p>2). 辅助规划。当前掌握的知识有什么分布特点，如何扬长，如何补短。学会了某个知识点能怎么样。</p>		
	</div>
	<div class="section section7">
		<h1>项目进展到了什么阶段</h1>
	</div>
	<div class="section section8">
		<p>项目的核心是：命题逻辑与自动推理</p>
            <blockquote>我们已经有了解决方案，并且拿到了专利</blockquote>
        <p>运营的关键是：高质量的数据积累</p>
            <blockquote>前期主要依靠深度用户人工贡献保证质量和准确度，我们已完成专用编辑器的开发</blockquote>
        <p>后期会引入一定的自动生成地图的机制提高效率</p>
	</div>
	<div class="section section9">
		<h1>参与体验--构建自己的知识地图</h1>
	</div>
	<div class="section section10">
		<p>通过导航栏可以进入编辑地图页面，一个空白的页面等待您的手势操作</p>
        <p>空白处双击，创建新节点</p>
        <p>单击A，双击B，意味着A能够推导出B</p>
        <p>单击A、B，双击C，意味着A，B能联合推导出C</p>
        <img src="/static/img/pupupu.png">
	</div>
    <div class="section section11">
        <h1>自动推理</h1>
    </div>  
    <div class="section section12">
        <p>使用案例，已有关系A,B->C和A,D->C</p>
        <p>加入新关系A->C后，B，D变成游离节点</p>
    </div>  
    <div class="section section13">
        <h1>团队秀</h1>
    </div>
    <div class="section section14">
        
    </div>
</div>
{% endblock %}

{% block js%}
<script src="/static/js/jquery-ui-1.10.3.min.js"></script>
<script src="/static/js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="/static/js/help-index.js"></script>
{% endblock%}