{% extends "base.html" %}

{% block title %}
    <title> Home </title>
{% endblock %}

{% block content %}

	<style>
		body		{
				overflow:	hidden;
				}
		.edge	{
				stroke: #999;
				stroke-opacity: .6;
				stroke-width: 1.6px;
				}
		.rect		{
				fill: pink;
				}
		.label	{
				fill: black;
				font-family: Arial;
				font-size: 7.5pt;
				}
	</style>

<div style="padding: 50px 100px;">
   <form class="bs-example bs-example-form" role="form">
      <div class="row">
         <div class="col-lg-3 col-md-3"></div>
         <div class="col-lg-6 col-md-6">
            <div class="input-group  input-group-lg">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <img src="/static/pic/Induction.png"/>
                  </button>
               </span>
               <input type="text" class="form-control" placeholder="please input">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                     <img src="/static/pic/Deduction.png"/>
                  </button>
               </span>
            </div>
         </div>
         <div class="col-lg-3 col-md-3"></div>
      </div>
   </form>
</div>

<div style="padding-top: 370px">
   <form class="bs-example bs-example-form" role="form">
      <div class="row">
        <div class="col-lg-5 col-md-5"></div>
         <div class="col-lg-2 col-md-2">
               <div class="row">
        <div class="col-lg-4 col-md-4"></div>
         <div class="col-lg-4 col-md-4">
            <div class="input-group">
               <div class="input-group-btn">
                   <button type="button" class="btn btn-default btn-sm">
                        <span><img src="/static/pic/plus.png"/></span>
                   </button>
                   <button type="button" class="btn btn-default btn-sm">
                        <span><img src="/static/pic/minus.png"/></span>
                   </button>
               </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4"></div>
         </div>
         <div class="col-lg-5 col-md-5"></div>
      </div>
      </div>
   </form>
</div>


<div id="kmap-overview" style="position:absolute; top:70px;width:1000px;height:600px; z-index:0">
</div>

<div style="height:370px;z-index:-2"></div>
<div>
   <form class="bs-example bs-example-form" role="form">
      <div class="row">
        <div class="col-lg-5 col-md-5"></div>
         <div class="col-lg-2 col-md-2">
               <div class="row">
        <div class="col-lg-4 col-md-4"></div>
         <div class="col-lg-4 col-md-4">
            <div class="input-group">
               <div class="input-group-btn">
                   <button type="button" class="btn btn-default btn-sm">
                        <span><img src="/static/pic/plus.png"/></span>
                   </button>
                   <button type="button" class="btn btn-default btn-sm">
                        <span><img src="/static/pic/minus.png"/></span>
                   </button>
               </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4"></div>
         </div>
         <div class="col-lg-5 col-md-5"></div>
      </div>
      </div>
   </form>
</div>

{% endblock %}


{% block js %}
    <script src="/static/d3/d3.v2.js"></script>
    <script src="/static/d3/wuli.net.js"></script>
    <script src="/static/d3/convert.js"></script>
    <script src="/static/js/topology.js"></script>

    <script>
        draw()
    </script>
{% endblock %}
