{% extends "base.html" %}

{% block title %}
    <title> Home </title>
{% endblock %}

{% block content %}

<!--右侧列表模块开始-->
<div id="list">
    <ul class="listContent"></ul>
</div>
<!--右侧列表模块结束-->

<!--svg模块开始-->
<div id="kmap-overview" class="boxshadow">
	<div class="openlist"><span class="glyphicon glyphicon-align-justify"></span></div>
	<svg id="svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet"></svg>
</div>
<!--svg模块结束-->

<!--缩放模块-->
<div id="scale">
	<div class="scaleContent">
	    <button type="button" class="btn btn-default btn-sm add">
            <span class="glyphicon glyphicon-plus"></span>
	    </button>
	    <button type="button" class="btn btn-default btn-sm min">
	        <span class="glyphicon glyphicon-minus"></span>
	    </button>
    </div>          
</div>
<!--缩放模块结束-->

{% endblock %}


{% block js %}
    <script src="/static/js/d3.v2.js"></script>
    <script type="text/javascript">
		var	svg_width = $("#kmap-overview").width(),
			svg_height = $("#kmap-overview").height(),
			scaleX = svg_width,
			scaleY = svg_height,
			posX = 100,
			posY = 100,
			scale = 1,
			flag = false,
			string = '<li data-url="{url}"><span class="title">{name}</span><span>{brief}</span></li>';

		$("svg").attr('width',svg_width+"px").attr('height',svg_height+"px");
		document.getElementById("svg").setAttribute('viewBox','0,0,' + scaleX+"," + scaleY);

		var strFormatObj = function (){
			if((arguments.length <= 0) || (typeof arguments[0] != "string"))
				return null;
			var value = arguments[0],result="";
			for(var i in arguments[1]){
				for(var key in arguments[1][i]){
					var reg = new RegExp('\\{'+ key +'\\}','m');
					value = value.replace(reg, arguments[1][i][key])
				}
				result += value;
				value = arguments[0];
			}
			return result;
		};

		var color = d3.scale.category20();//设置20种颜色类别

		var svg = d3.select("svg");

		$(".add").bind('click',function (){
			return false;
			scale *= 1.1;
			scaleX /= 1.1,
			scaleY /= 1.1;
			document.getElementById("svg").setAttribute('viewBox',posX+','+posY+','+scaleX+','+scaleY+'');
			$(".scale").html('放大X'+scale.toFixed(1));
			setTimeout(function (){$(".scale").html('')},500);
		});

		$(".min").bind('click',function (){
			return false;
			scale /= 1.1;
			scaleX *= 1.1,
			scaleY *= 1.1;
			document.getElementById("svg").setAttribute('viewBox',posX+','+posY+','+scaleX+','+scaleY+'');
			$(".scale").html('放大X'+scale.toFixed(1));
			setTimeout(function (){$(".scale").html('')},500);
		});

		$(".logoSearch").click(function(){
			$("#search").css("display") == "none" ?($(".logoSearch").find('a').animate({'paddingLeft':'400px'},500),setTimeout(function (){$("#search").fadeIn(300)},500) ): ($("#search").fadeOut("50"),$(".logoSearch").find('a').animate({"paddingLeft":"15px"},500));
		});

		$(".openlist").click(function (){
			if(!flag){
				$("#kmap-overview").animate({"left":"20%"},200);
				$("#list").animate({"width":"20%"},200);
				$("#list > ul > li").css("borderBottom","1px solid #000");
			}else{
				$("#kmap-overview").animate({"left":"0%"},200);
				$("#list").animate({"width":"0%"},200);
				$("#list > ul > li").css("borderBottom","none");	
			}
			flag = !flag;
		});

    </script>
    <script type="text/javascript" src="/static/js/index-t.js"></script>

{% endblock %}
