{% extends "base.html" %}

{% block title %}
    <title> Home </title>
{% endblock %}

{% block content %}

<!--右侧列表模块开始-->
<div id="list">
    <ul class="listContent"></ul>
</div>
<!--右侧列表模块结束-->

<!--svg模块开始-->
<div id="kmap-overview" class="boxshadow">
	<div class="openlist"><span class="glyphicon glyphicon-align-justify"></span></div>
	<svg id="svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet"></svg>
</div>
<!--svg模块结束-->

<!--缩放模块-->
<div id="scale">
	<div class="scaleContent">
	    <button type="button" class="btn btn-default btn-sm add">
            <span><img src="/static/img/plus.png"/></span>
	    </button>
	    <button type="button" class="btn btn-default btn-sm min">
            <span><img src="/static/img/minus.png"/></span>
	    </button>
    </div>          
</div>
<!--缩放模块结束-->

{% endblock %}


{% block js %}
    <script src="/static/d3/d3.v2.js"></script>
    <script type="text/javascript">
		var	svg_width = $("#kmap-overview").width(),
			svg_height = $("#kmap-overview").height(),
			scaleX = svg_width,
			scaleY = svg_height;
			posX = 100,
			posY = 100,
			scale = 1,
			flag = false,
			string = '<li class="net-item-url" data-url="{url}">{name}</li>';

		$("svg").attr('width',svg_width+"px").attr('height',svg_height+"px");
		document.getElementById("svg").setAttribute('viewBox','0,0,' + scaleX+"," + scaleY);

		var strFormatObj = function (){
			if((arguments.length <= 0) || (typeof arguments[0] != "string"))
				return null;
			var value = arguments[0],result="";
			for(var i in arguments[1]){
				for(var key in arguments[1][i]){
					var reg = new RegExp('\\{'+ key +'\\}','m');
					value = value.replace(reg, arguments[1][i][key])
				}
				result += value;
				value = arguments[0];
			}
			return result;
		};

		var color = d3.scale.category20();//设置20种颜色类别

		var force = d3.layout.force()//设置基于物理模拟的位置链接
							.size([svg_width, svg_height])
							.charge(-200)//获取或设置节点间的电荷数（电荷数决定节点时排斥还是吸引）
							.gravity(0.08)//设置节点间的引力强度
							.linkDistance(40)
							.linkStrength(0.6);//连接强度

		var svg = d3.select("svg");

		$(".add").bind('click',function (){
			scale *= 1.1;
			scaleX *= 1.1,
			scaleY *= 1.1;
			document.getElementById("svg").setAttribute('viewBox',posX+','+posY+','+scaleX+','+scaleY+'');
			$(".scale").html('放大X'+scale.toFixed(1));
			setTimeout(function (){$(".scale").html('')},500);
		});

		$(".min").bind('click',function (){
			scale /= 1.1;
			scaleX /= 1.3,
			scaleY /= 1.3;
			document.getElementById("svg").setAttribute('viewBox',posX+','+posY+','+scaleX+','+scaleY+'');
			$(".scale").html('放大X'+scale.toFixed(1));
			setTimeout(function (){$(".scale").html('')},500);
		});

		$(".openlist").click(function (){
			if(!flag){
				$("#kmap-overview").animate({"left":"20%"},200);
				$("#list").animate({"width":"20%"},200);
				$("#list > ul > li").css("borderBottom","1px solid #000");
			}else{
				$("#kmap-overview").animate({"left":"0%"},200);
				$("#list").animate({"width":"0%"},200);
				$("#list > ul > li").css("borderBottom","none");
			}
			flag = !flag;
		});

		d3.json('/kmap/ls-algorithm/',function (data, error){
    		var content = strFormatObj(string, data);
    		$("#list > ul").append(content);

		    $("li.net-item-url").bind('click',function (){
			    var net_url = $(this).attr("data-url");
			    $("g,line").remove();
			    loading(net_url);
            });
		});

    </script>
    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock %}
