{% extends "base.html" %}

{% block title %}
    <title>(๑•́ ₃ •̀๑)~尤於－主頁( *・ω・)✄╰ひ╯</title>
    <link rel="stylesheet" type="text/css" href="/static/css/tip-index.css">
{% endblock %}

{% block content %}

<!--svg模块开始-->
<div id="kmap-overview" class="boxshadow">
	<svg id="svg" preserveAspectRatio="xMidYMid meet"></svg>
    <div id="opea">
    </div>
</div>
<!--svg模块结束-->

<!--缩放显示模块-->
<div class="scale"></div>
<!--缩放显示模块结束-->

<!--缩放模块-->
<div id="scale">
	<div class="scaleContent">
	    <button type="button" class="btn btn-default btn-sm add">
            <span class="glyphicon glyphicon-plus"></span>
	    </button>
	    <button type="button" class="btn btn-default btn-sm min">
	        <span class="glyphicon glyphicon-minus"></span>
	    </button>
    </div>          
</div>
<!--缩放模块结束-->
<div class="floatDiv" id="MathDiv">$${}$$</div>
{% endblock %}


{% block js %}
<script src="/static/js/d3.v2.js"></script>
<script type="text/javascript" src="/static/js/tip-index.js"></script>
{% endblock %}
