body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.navbar,.row{
	margin:0;
}
.row,.edit,.grap{
	height: 100%;
	font-family: "微软雅黑";
	margin:0;
}
.input, .submit{
	width: 112%;
	margin:5px 0;
	resize:none;
	outline: none;
}
.input{
	height: 10%;
	border:1px solid #bce8f1;
	padding:0 5px;
}
.submit{
	height: 7%;
	border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	border:none;
	background: #bce8f1;
	transition: all .3s ease-out;
	-o-transition:all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition:all .3s ease-out;
}
.submit:hover{
	background: #5bc0de;
	transition: all .3s ease-in;
	-o-transition:all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition:all .3s ease-in;	
}
.drawBord{
	width: 100%;
	height: 100%;
	border-left: 1px dashed #aaa;
}
.svgG{
	cursor: pointer;
}
.clickedG{
	stroke-width:2;
	stroke:#000;
}
.load{
	fill:#aaa;
}
.rectModeling{
	fill:#000;
}
.text{
	stroke-width:0;
}
.edge{
	stroke: #000;
	stroke-opacity: .6;
	stroke-width: 1.6px;
}
.alert{
	position:absolute;
	top:10px;
	left: 10%;
	right: 10%;
	border:none;
	z-index: 1000001;
	display: none;
}
.textarea > textarea{
	width:0;
	height: 0;
	resize : none;
	border:0;
}
.floatDiv{
	position: absolute;
	background: #eee;
	z-index: 999;
	width: 150px;
	min-height: 50px;
	line-height: 30px;
	padding:3px;
	text-align: center;
	font-family: Symbola, "Times New Roman", serif;
}
.floatDiv::after{
	width: 0;
	height: 0;
	content : "";
	position: absolute;
	left: 65px;
	bottom:-10px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #eeeeee transparent transparent transparent;
}
.table{
	width: 112%;
	max-width: 112%;
	cursor: pointer;
}
 .table tbody>tr>td{
	width:8.333333%;
	height: 20px;
	padding:0;
}
.first > td{
	height: 45px !important;
}
.floatDiv > .fraction > .numerator {
  position: relative;
  padding: 0 0.1em !important;
  top:-8px !important;
}
.floatDiv > .fraction > .denominator {
  position: relative !important;
  border-top: 1px solid !important;
  top:10px !important;
  left:-8px !important;
  margin-right: -0.1em !important;
  margin-left: -0.1em !important;
}
#cover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.8);
	z-index: 99999;
	display: none;
}