html,body{
    width:100%;
    height:100%;
    overflow: auto !important;
    position: absolute;
}
#content{
    position: relative;
    width: 960px;
    margin-left: -480px;
    min-width: 960px;
    left: 50%;
}
#content img{
    border:1px solid #eee;
    border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}