*{
	padding:0;
	margin:0;
}
html,body{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
.navbar-brand{
    vertical-align: middle;
    font-family: "Marker Felt";
    font-size: 90%;
}
.rect{
	fill: pink;
	cursor: pointer;
}
#kmap-overview{
    position: absolute;
    left: 0;
    top: 0;
	width:100%;
	height:100%;
	z-index:2;
}
.label{
	fill: black;
	font-family: Arial;
	font-size: 7.5pt;
	cursor: pointer;
}
.iconGroup{
    position: absolute;
    height: 20px;
    width: 70px;
    top: 15px;
    right: 20px;
}
#search{
	position: absolute;
	height: 50px;
	vertical-align: middle;
	width: 350px;
}
#search{
	display: inline-block;
}
.searchSpan{
    position: absolute;
    padding:15px 5px;
    cursor: pointer;
}
.right{
    position: absolute;
    right: 0px;
}
.searchSpan:hover{
    color: #aaa;
}
.search{
    position: absolute;
    display: inline-block;
    right: 20px;
    left: 0px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    outline: none;
    border:none;
    border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #fff;
    color: #aaa;
    width: 89%;
    padding-left: 10px;
    padding-right: 50px;
    cursor: text;
    margin-left: 20px;
    line-height: 30px;
    overflow: auto;
}
.searchIcon{
    position: relative;
}
.searchIcon:hover{
    color: #aaa;
    cursor: pointer;
}
.scaleIcon{
    cursor: pointer;
    visibility: hidden;
}
.scaleIcon:hover{
    color:#aaa;
}
.sum{
    position: relative;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding:0 5px;
    font-family: "Adobe Garamond Pro";
}
.sum:hover{
    color: #aaa;
}
#scale{
	width: 100%;
	height: auto;
	position: absolute;
	top: 95%;
	z-index: 2;
}
.scaleContent{
	width: 100px;
	margin:0 auto;
}
.scale{
	position: absolute;
	z-index: 90;
	right: 30px;
	top: 70px;
	width: 100px;
	height: 30px;
	color: #000;
	font-family: "微软雅黑";
	line-height: 30px;
	text-align: center;
}
#MathInputSearch{
    width: 513px;
    border:none;
    margin-bottom: 15px;
    border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
    resize:none;
    outline: none;
    overflow: auto;
    position: relative;
}
.navbar{
	border-radius: 0;
	border:none;
}
button.btn,input.form-control{
	border:none; !important;
	box-shadow: none; !important;
	-webkit-box-shadow:none; !important;
}
.path{
  stroke: green;
  stroke-width:4.5px;
  fill : none;
}
.floatDiv{
	position: absolute;
	background: #eee;
	z-index: 999;
	width: 500px;
	min-height: 50px;
	line-height: 30px;
	padding:3px;
	text-align: center;
    display: none;
}
.floatDiv::after{
	width: 0;
	height: 0;
	content : "";
	position: absolute;
	left: 235px;
	bottom:-10px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #eeeeee transparent transparent transparent;
}
.clickedG{
    stroke-width:2;
    stroke:#000;
}
.headLogo{
    width: 20px;
    height: 20px;
    border-radius:20px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position: relative;
    margin-right: 10px;
}
.grayColor{
    color: #aaa;
}