body,html{
	width: 100%;
    overflow: auto;
}
#content{
    position: absolute;
    width: 1124px;
    height: auto;
    margin-left: -562px;
    left: 50%;
    top: 50px;
    bottom: 0;
}
#list-remind{
    position: absolute;
    width: 20%;
    height: 100%;
    background: #eee;
}
.remind-ul{
    position: absolute;
    list-style: none;
    width: 100%;
    padding-top: 50px;
}
.remind-li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    font-weight: thin;
    cursor: pointer;
    padding-left: 50px;
}
.active-remind-li{
    background: #e6e6e6;
}
.remind-li:hover{
    text-decoration: underline; 
}
.paddingRight{
    padding-right: 10px;
    font-size: 15px;
}
#infor{
    position: absolute;
    height: 100%;
    left: 25%;
    right: 0;
    font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,tahoma,sans-serif;
}
.clear{
    clear: both;
}
#infor h2{
    font-size: 20px;
    width: 100%;
    padding-left: 20px;
    position: absolute;
    top: 30px;
    font-family: "Microsoft YaHei","WenQuanYi Micro Hei","SimHei","tahoma","sans-serif";
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
}
.detail{
    position: absolute;
    width: 100%;
    top: 100px;
    bottom:0;
}
.detail-uls{
    list-style: none;
    padding-left: 20px;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
}
.detail-li{
    width: 100%;
    line-height: 1.3;
    padding: 10px 10px;
    padding-right: 70px;
    font-family: 12px;
    border-bottom: 1px dashed #ededed;
    color: #0078b6;
    position: relative;
}
.detail-li p {
    width: 92%;
}
.detail-li:hover{
    cursor: pointer;
    background: #f7f7f7;
}
.time{
    position: absolute;
    right: 20px;
    font-size: 12px;
    top: 10px;
    color: #999;
}
.detail-li-block{
    position: relative;
    margin:5px 15px;
    display: inline-block;
    cursor: pointer;
    width: 170px;
    height: 180px;
}
.detail-div{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 15%;
    top: 85%;
    color: #fff;
    padding-top: 5px;
}
.detail-div p{
    padding-left: 3px;
}
.settings{
    width: 180px;
    height: 200px;
    padding:50px 0;
    position: absolute;
    margin-left: -90px;
    left: 50%;
    margin-top: -100px;
    top: 30%;
    text-align: center;
    color: #f00;
}
.pass, .passAg, .passAgs{
    border:1px solid #ededed;
    height: 25px;
    width: 100%;
    line-height: 25px;
    padding:0 5px;
    display: block;
    margin:5px;
    outline: none;
    border-radius:1px;
    -o-border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
}
.submitButton{
    width: 100%;
    height: 25px;
    line-height: 25px;
    outline: none;
    margin:5px;
    background: #3276b1;
    color: #fff;
    font-size: 10px;
    border: none;
    border-radius:1px;
    -o-border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
}
.submitButton:hover{
    background: #3A73A5;
}
.detail-li-lib{
    float: left;
    margin:5px;
    width: 180px;
    height: 180px;
    border:1px solid #ededed;
    border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.last{
    border:none;
    height: 80px;
}
.detail-li-lib:hover{
    box-shadow: 1px 1px 10px #aaa;
}
.detail-li-lib p {
    margin: 2px 0;
    font-size: 10px;
    text-align: center;
}
.del, .editThat, .delCollect, .lookingFor,.look, .getCools{
    width: 60px;
    height: 25px;
    margin:5px;
    line-height: 20px;
    border:1px solid #ededed;
    vertical-align: middle;
    cursor: pointer;
}
.del:hover, .editThat:hover, .lookingFor:hover, .delCollect:hover,.look:hover,.getCools:hover{
    background: #ededed;
}
.del:hover, .delCollect:hover{
    background: #f00;
    border:none;
    color: #fff;
}
.addLi{
    border:3px dashed #ededed;
    cursor: pointer;
    color: #ededed;
    text-align: center;
    line-height: 180px;
    font-size: 90px;
}
.addLi:hover{
    box-shadow: none;
}
.head{
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: relative;
    margin-left: -55px;
    left: 50%;
}
.headImg, .coverHead{
    width: 100px;
    height: 100px;
    border-radius:100px;
    -o-border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    cursor: pointer;
    margin:5px;
}
.coverHead{
    line-height: 100px;
    text-align: center;
    color: #000;
    position: relative;
    margin:0;
    background: rgba(255,255,255,0.5);
    z-index: 3;
    top: -105px;
    left: 5px;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}
.addFocus,.selectAll{
    position: absolute;
    right: 20px;
    top: 60px;
    border: 1px solid #ededed;
    border-radius: 3px;
    width: 57px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index:3;
}
.selectAll{
    border: none;
}
.All{
    position: absolute;
    right: 120px;
}
.readedSelect{
    right: 80px;
}
.addFocus:hover{
    background: #ededed;
}
.readed_up{
    position: absolute;
    left: 80%;
    line-height: 15px;
}
#foot{
    bottom: 0;
    position: absolute;
    z-index: 3;
    display: none;
}
.addFocusYes{
    right: 100px !important;
}
.submitComm{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 84px;
}
.submitText{
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    resize:none;
    outline: none;
    padding:5px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}
.close,.remove{
    position: absolute;
    right: 5px;
    top: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: inherit;
}
.remove{
    cursor: pointer;
}
.upload{
    width: 600px;
    height: 350px;
    position: absolute;
    /*margin-left: -300px;*/
    /*margin-top: -175px;*/
    left: 40%;
    top: 180px;
    border:1px solid #ededed;
    border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -webkit-border-radius:3px;
    background: #fff;
    text-align: center;
}
.upload input{
    position: relative;
    width: 60px;
    height: 30px;
    border:1px solid #ededed;
    outline: none;
    display: inline-block;
    padding:3px;
    background: #fff;
    color: #000;
    margin-top: 30px;
}
.upload_text{
    width: 230px !important;
}
.upload_input_none{
    display: none !important;
}
.min,.max{
    border:1px solid #ededed;
    position: absolute;
    top: 100px;
}
.imgfaceOfUpload{
    width: 100%;
    height: 100%;
}
.min{
    width: 50px;
    height: 50px;
    left: 180px;
}
.min:after{
    content: '300X300';
    position: absolute;
    top: 50px;
    font-size: 12px;
    text-align: center;
    left: 0;
    color: #aaa;
}
.max{
    width: 100px;
    height: 100px;
    left: 300px;
}
.max:after{
    content: '600X600';
    position: absolute;
    top: 100px; 
    font-size: 12px;
    text-align: center;
    left: 25px;
    color: #aaa;
}
.grayColor{
    color: #aaa;
}
.__resend,.__resendButton{
    display: inline-block;
}
.__resend{
    width: 85%;
    height: 50px;
    border:1px solid #ededed;
    border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    resize:none;
    margin:5px;
    outline: none;
    padding: 10px;
}
.__resendButton{
    width: 12%;
    height: 50px;
    border-radius:3px;
    -o-border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:none;
    color: #fff;
    line-height: 50px;
    background:#428bca;
    margin:5px;
}
.checkbox{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px !important;
    margin-right: 20px !important;
}
.__username__mes:hover{
    text-decoration: underline;
}