{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>知识地图-登录</title>
{% endblock %}

{% block css %}
<link href="/static/css/account.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="/static/css/login-index.css">
{% endblock %}

{% block content %}
<div class="page-header">
    <h2>登录</h2>
</div>
<div class="form-signin">
    <input type="text" class="username" placeholder="用户名">
    <input type="password" class="pass" placeholder="密码">
    <label class="checkbox">
        <input type="checkbox" value="remember-me" checked="true"> Remember me
    </label>
    <button class="btn  btn-primary btn-large btn-block"> 登录 </button>
    <a class="login-link" href="#">忘记密码？</a>
</div>
<script type="text/javascript" src="/static/js/login-index.js"></script>
{% endblock %}
