{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>知识地图-注册</title>
{% endblock %}

{% block css %}
<link href="/static/css/account.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="/static/css/login-index.css">
{% endblock %}

{% block content %}
<div class="page-header">
    <h2>注册</h2>
</div>


{% if form.errors %}
<span class="help-block">
    <label class="error">用户名/Email或密码错误，请重新输入！</label>
</span>
{% endif %}

<div class="form-signin">
    <img src="/static/img/myface.jpg" class="imgface">
    <input type="text" class="username" placeholder="请输入昵称">
    <input type="text" class="email" placeholder="请输入邮箱">
    <input type="password" class="pass" placeholder="请输入密码">
    <input type="password" class="pass passAgain" placeholder="确认输入">
    <button class="btn  btn-primary btn-large btn-block"> 注册 </button>
</div>
<script type="text/javascript" src="/static/js/reg-index.js"></script>
{% endblock %}
