<!DOCTYPE html>
<html>
<head>
<title> Edit </title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
<!-- Bootstrap -->
<link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="./css/base.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="./css/edit-index.css" media="screen">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->

</head>
<body>
	<!--导航栏模块-->
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="./images/logo.png"/>知识地图</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">userName</a></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li> <a  href="#">我的地图</a> </li>
        </ul>
        
    </div><!-- /.navbar-collapse -->
</nav>
<!--导航栏模块结束-->
<div class="row">
<!--输入模块开始-->
	<div class="col-md-2 edit">
		<textarea class="input" placeholder="请输入节点内容...."></textarea>
		<button class="submit">创建节点</button>
	</div>
<!--输入模块结束-->

<!--图形模块开始-->
	<div class="col-md-10 grap" id="drawBord">
		<svg class="drawBord"></svg>
	</div>
<!--图形模块结束-->
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./js/bootstrap.min.js"></script>
<!--D3 lib and draw func-->
<script type="text/javascript" src="./d3/d3.v2.js"></script>
<script type="text/javascript">
		var	svg_width = $(".drawBord").width(),
			svg_height = $(".drawBord").height();
			
		var color = d3.scale.category20();//设置20种颜色类别

		var force = d3.layout.force()//设置基于物理模拟的位置链接
							.size([svg_width, svg_height])
							.charge(-1000)//获取或设置节点间的电荷数（电荷数决定节点时排斥还是吸引）
							.gravity(0.08)//设置节点间的引力强度
							.linkDistance(100)
							.linkStrength(0.6);//连接强度

		var svg = d3.select("body")
					.select("svg");
</script>
<!--append nodes-->
<script type="text/javascript" src="./js/edit-index.js"></script>
</body>
</html>
